world/
logs/
libraries/
mohist-config/
local/
usercache.json
whitelist.json
banned-ips.json
banned-players.json
ops.json
rhino.local.properties
eula.txt
*.jar
mods/*.jar
plugins/*.jar
plugins/Towny/logs/
plugins/Towny/data/
plugins/Towny/backup/